<nav class="nav">
    <div class="nav-content">
        <div class="logo">RESERVAST</div>
        <div class="search-bar">
            <img src="../../src/assets/icons/search.svg" alt="Search Icon" class="search-icon">
            <span class="search-placeholder">Cari tempat untuk acaramu di sini</span>
        </div>
        <div class="nav-links">
            <a href="#" class="nav-link">FnB</a>
            <a href="#" class="nav-link">Workspace</a>
            <a href="#" class="nav-link">Sportcenter</a>
        </div>
        <div class="nav-icons">
            <img src="../../src/assets/icons/mail.svg" alt="Mail Icon" class="nav-icon">
            <img src="../../src/assets/icons/profile.svg" alt="Profile Icon" class="nav-icon">
        </div>
    </div>
</nav>